extends layout

block content
	section#content
		section( id="options", class="clearfix" )
			ul( id="etc", class="clearfix" )
				li#append
					a( id="back", href="#append" ) Append new elements
		div(id="container", class="clickable clearfix")
			//- div(class="element") hi
			//- div(class="element") ho
			//- div(class="element") what
			//- div(class="element") sex
			//- div(class="element") heeh
		script(src='/javascripts/jquery.isotope.js')
		script(src='/javascripts/jquery.scripts.js')
		script(src='/javascripts/eno.js')